<div id="audio" style="margin: 10px">
    <div style="margin-top:1.25em">
    
        <div class="ui360" style="margin-top:-0.55em"><a href="<TMPL_VAR NAME="AUDIO_URL">"><TMPL_VAR NAME="TEXT"></a>
	</div>
    
    </div>
</div>
<div style="clear:both"></div>
