<div id="audio" style="margin: 10px">
<!-- soundManager.useFlashBlock: related CSS -->
    <link rel="stylesheet" type="text/css" href="../flashblock/flashblock.css" />
    
    <div id="sm2-container">
     <!-- flash movie is added here -->
    </div>
    
    <div style="margin-top:1.25em">
    
        <div class="ui360" style="margin-top:-0.55em"><a href="<TMPL_VAR NAME="AUDIO_URL">"><TMPL_VAR NAME="NAME"></a>
	</div>
    
    </div>
</div>
<div style="clear:both"></div>
